html, body, body > div#main {
    width: 100% !important;
    height: 100% !important;
    overflow-x: hidden;
}

* {
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus,:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}
